<a href="https://colab.research.google.com/github/EmiliaComputing/DataScience/blob/main/PhoneReviews.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Phone reviews
By Emilia Pitcher

#Introduction
Where the data is from - https://www.kaggle.com/grikomsn/amazon-cell-phones-reviews?select=20191226-items.csv

#Imports
**The imports:**

Pandas - manages data

Matplotlib - plotting the data

Spacy - for nlps

Random - random generation

In [2]:
import pandas as pd
import spacy
from spacy.util import minibatch
import random
import matplotlib.pyplot as plt

In [3]:
items = pd.read_csv("20191226-items.csv")
reviews = pd.read_csv("20191226-reviews.csv")
items.head()

,asin,brand,title,url,image,rating,reviewUrl,totalReviews,price,originalPrice
0,B0000SX2UC,NaN,Dual-Band / Tri-Mode Sprint PCS Phone w/ Voice...,https://www.amazon.com/Dual-Band-Tri-Mode-Acti...,https://m.media-amazon.com/images/I/2143EBQ210...,3.0,https://www.amazon.com/product-reviews/B0000SX2UC,14,0.00,0.0
1,B0009N5L7K,Motorola,Motorola I265 phone,https://www.amazon.com/Motorola-i265-I265-phon...,https://m.media-amazon.com/images/I/419WBAVDAR...,3.0,https://www.amazon.com/product-reviews/B0009N5L7K,7,49.95,0.0
2,B000SKTZ0S,Motorola,MOTOROLA C168i AT&T CINGULAR PREPAID GOPHONE C...,https://www.amazon.com/MOTOROLA-C168i-CINGULAR...,https://m.media-amazon.com/images/I/71b+q3ydkI...,2.7,https://www.amazon.com/product-reviews/B000SKTZ0S,22,99.99,0.0
3,B001AO4OUC,Motorola,Motorola i335 Cell Phone Boost Mobile,https://www.amazon.com/Motorola-i335-Phone-Boo...,https://m.media-amazon.com/images/I/710UO8gdT+...,3.3,https://www.amazon.com/product-reviews/B001AO4OUC,21,0.00,0.0
4,B001DCJAJG,Motorola,Motorola V365 no contract cellular phone AT&T,https://www.amazon.com/Motorola-V365-contract-...,https://m.media-amazon.com/images/I/61LYNCVrrK...,3.1,https://www.amazon.com/product-reviews/B001DCJAJG,12,149.99,0.0

In [4]:
reviews.head()

,asin,name,rating,date,verified,title,body,helpfulVotes
0,B0000SX2UC,Janet,3,"October 11, 2005",False,"Def not best, but not worst",I had the Samsung A600 for awhile which is abs...,1.0
1,B0000SX2UC,Luke Wyatt,1,"January 7, 2004",False,Text Messaging Doesn't Work,Due to a software issue between Nokia and Spri...,17.0
2,B0000SX2UC,Brooke,5,"December 30, 2003",False,Love This Phone,"This is a great, reliable phone. I also purcha...",5.0
3,B0000SX2UC,amy m. teague,3,"March 18, 2004",False,"Love the Phone, BUT...!","I love the phone and all, because I really did...",1.0
4,B0000SX2UC,tristazbimmer,4,"August 28, 2005",False,"Great phone service and options, lousy case!",The phone has been great for every purpose it ...,1.0

In [5]:
items.describe()

           rating  totalReviews       price  originalPrice
count  720.000000    720.000000  720.000000     720.000000
mean     3.713750    105.679167  234.948931      63.690778
std      0.716014    167.601101  200.008441     172.405370
min      1.000000      1.000000    0.000000       0.000000
25%      3.300000      7.000000   97.512500       0.000000
50%      3.800000     32.000000  188.975000       0.000000
75%      4.100000    122.250000  336.725000       0.000000
max      5.000000    983.000000  999.990000     999.990000

In [6]:
reviews.describe()

             rating  helpfulVotes
count  67986.000000  27215.000000
mean       3.807916      8.229690
std        1.582906     31.954877
min        1.000000      1.000000
25%        3.000000      1.000000
50%        5.000000      2.000000
75%        5.000000      5.000000
max        5.000000    990.000000

#Siplifying star reviews
Adding a good, bad or medium rating column.

In [7]:
def convert_rating(star_rating):
  if star_rating == 1:
    return ('1')

  if star_rating == 2:
    return ('2')
  
  if star_rating == 3:
    return ('3')

  if star_rating == 4:
    return ('4')
  
  if star_rating == 5:
    return ('5')

good_or_bad_list = []

for rating in reviews["rating"]:
  good_or_bad_list.append(convert_rating(rating))

reviews["GoodOrBad"] = good_or_bad_list
reviews.head()

,asin,name,rating,date,verified,title,body,helpfulVotes,GoodOrBad
0,B0000SX2UC,Janet,3,"October 11, 2005",False,"Def not best, but not worst",I had the Samsung A600 for awhile which is abs...,1.0,3
1,B0000SX2UC,Luke Wyatt,1,"January 7, 2004",False,Text Messaging Doesn't Work,Due to a software issue between Nokia and Spri...,17.0,1
2,B0000SX2UC,Brooke,5,"December 30, 2003",False,Love This Phone,"This is a great, reliable phone. I also purcha...",5.0,5
3,B0000SX2UC,amy m. teague,3,"March 18, 2004",False,"Love the Phone, BUT...!","I love the phone and all, because I really did...",1.0,3
4,B0000SX2UC,tristazbimmer,4,"August 28, 2005",False,"Great phone service and options, lousy case!",The phone has been great for every purpose it ...,1.0,4

#Preparing the data
Spacy requires the data to be presented to it in a certain way. The code is formated as it requires.

In [8]:
texts = reviews.body.values

labels = []
for item in reviews.GoodOrBad.values:
  label = {'1 star': item == '1',
           '2 stars': item == '2',
           '3 stars': item == '3',
           '4 stars': item == '4',
           '5 stars': item == '5'}
  labels.append(label)

train_text = texts
train_labels = []
for label in labels:
  categories = {"cats": label}
  train_labels.append(categories)

  
#for text, label in zip(texts[:10], labels[:10]):
  #print(text, label)

#Creating the model

In [9]:
nlp = spacy.blank('en')
textcat = nlp.create_pipe("textcat", config={"exectutive_classes": True,
                                             "architecture": "bow"})

nlp.add_pipe(textcat)
textcat.add_label('1 star')
textcat.add_label('2 stars')
textcat.add_label('3 stars')
textcat.add_label('4 stars')
textcat.add_label('5 stars')

1

In [10]:
losses = {}
train_data = list(zip(train_text, train_labels))
batches = minibatch(train_data[:1000], size=10)
for batch in batches:
  texts, labels = zip(*batch)
  nlp.update(texts, labels, sgd=nlp.begin_training(), losses=losses)

#Creating the review

In [19]:
test_review = input('Your review: ')
print("The decimal points below show the likelyhoods that the review would be given that number of stars.")
doc = nlp(test_review)
print(doc)
print(doc.cats)

Your review: 1 star
The decimal points below show the likelyhoods that the review would be given that number of stars.
1 star
{'1 star': 0.48499980568885803, '2 stars': 0.4698227345943451, '3 stars': 0.47276192903518677, '4 stars': 0.4759373068809509, '5 stars': 0.48927658796310425}

#Conclusion
The model is good at understanding when things are good, but bad at understanding when they are bad.